#formdiv {
  width: 20%;
  margin: auto;
  margin-top: 150px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 50px;
  border-radius: 20px;
}

input {
  display: block;
  width: 100%;
  height: 40px;
  margin: auto;
  margin-bottom: 30px;
}
