* {
  padding: 0;
  margin: 0;
}

#navbar {
  height: 40px;
  padding: 20px 50px;
  background-color: #fff;
  display: flex;
  /*  justify-content: space-around; */
  align-items: center;
  gap: 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#logo > div {
  /* padding: 10px 0px; */
  width: 135px;
  height: 35px;
}

#logo > div > img {
  width: 100%;
}

.anchor_text {
  font-size: 13px;
  font-family: sans-serif;
  color: #262626;
}

#men_div,
#women_div,
#smart_div,
#outdoor_div,
#access_div,
#nutrition_div,
#wellness_div {
  background-color: white;
  display: none;
  position: absolute;
  top: 50px;
  left: 8px;
  z-index: 1;
  /* width: 10%; */
  width: 120px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#men_div > div,
#women_div > div,
#smart_div > div,
#outdoor_div > div,
#access_div > div,
#nutrition_div > div,
#wellness_div > div {
  padding: 12px;
}

#men_div > div:hover,
#women_div > div:hover,
#smart_div > div:hover,
#outdoor_div > div:hover,
#access_div > div:hover,
#nutrition_div > div:hover,
#wellness_div > div:hover {
  background-color: rgba(128, 128, 128, 0.37);
}

#men_div > div > a,
#women_div > div > a,
#smart_div > div > a,
#outdoor_div > div > a,
#access_div > div > a,
#nutrition_div > div > a,
#wellness_div > div > a {
  text-decoration: none;
  color: #262626;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 500;
}

#main-div1:hover #men_div,
#main-div2:hover #women_div,
#main-div3:hover #smart_div,
#main-div4:hover #outdoor_div,
#main-div5:hover #access_div,
#main-div6:hover #nutrition_div,
#main-div7:hover #wellness_div {
  display: inherit;

  /* left: 10.5%; */
}

#main-div1,
#main-div2,
#main-div3,
#main-div4,
#main-div5,
#main-div6,
#main-div7 {
  position: relative;
  display: inline-block;
  padding: 20px 10px;
}

#container {
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

#container > div > img {
  width: 100%;
  height: 450px;
}

#container > div > p {
  font-size: 18px;
  font-family: "Inter";
  font-weight: 600;
  margin: 14px 0px 0px;
}

#container > div > h1 {
  font-size: 20px;
  margin: 10px 0px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

#container > div > h2 {
  display: inline-block;
  font-size: 20px;
  margin: 12px 10px 12px 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000cd;
}

#container > div > span {
  display: inline-block;
  font-size: 18px;
  font-family: "Inter";
  font-weight: 600;
  margin: 14px 0px 0px;
  text-decoration-line: line-through;
}

#container > div > button {
  display: block;
  width: 50%;
  height: 40px;
  margin: auto;
  margin-top: 10px;
  background-color: salmon;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 14px;
}

#slideshow {
  width: 90%;
  margin: auto;
}
