body{
    background-color: rgb(4, 4, 10);
}


#part_1{
    background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_1600,ar_1.67,q_auto:eco,dpr_2,f_auto,fl_progressive/image/vm/9f3c54d5-d01f-457d-a29f-59f04d78cc48.png");
    background-size:100%;
    width:100%;
    height:600px;
}
#part_1>button{
    margin-top: 26%;
    margin-left: 45%;
    font-size: 17px;
    font-weight: bold;
    padding:7px 15px;
    border:0px;
    border-radius: 5px;
}
#part_1>button:hover{
    color: red;
}
#passhighlights{
    display: flex;
    justify-content: space-evenly;
    width:80%;
    margin: auto;
    margin-top: 70px;
    
}
#passhighlights>div{
    text-align: center;
    border:0.01px solid rgb(148, 148, 148);
    width:300px;
    line-height: 15px;
    border-radius: 10px;
    background-color: #ffffff0D;
    /* filter: blur(0.1px); */
}
#passhighlights>div>p{
    color:white;
}
#passhighlights>div>p:first-child{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color:rgb(169, 169, 169)
}
#passhighlights>div>img{
    width:80px;
}
#passhighlights>div>p:last-child{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    color:rgb(169, 169, 169)
}

/* calousel divs */
#carousel{
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_700,ar_1,q_auto:eco,dpr_2,f_auto,fl_progressive//image/test/gradient-circle/malibu-blur-circle.svg");
    background-size:100%;    
}
#carousel>div{
    margin: auto;
    width:60%;
    display:flex;
    justify-content: space-between;
    padding: 5px 50px;
    border:1px solid rgb(141, 141, 141);
    border-radius: 20px;
    background-color: rgb(86, 59, 5);
}
#carousel>div>div:first-child>p:first-child{
    font-size: 35px;
    font-family: fantasy;
    color: rgb(255, 255, 255);
}
#carousel>div>div:first-child>p:last-child{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
#carousel>div>div:last-child{
    margin-top: 30px;
    text-align: center;
    line-height: 2px;
}
#carousel>div>div:last-child>p{
    font-size: 20px;
}
#carousel>div>div:last-child>div{
    display: flex;
    justify-content: space-evenly;
    gap:10px;
    line-height: 2px;
    text-align: center;
}
#carousel>div h2{
    font-size: 50px;
    color: white;
}
#carousel>div p{
    color: white;
}

/* centers near you div */
#centers{
    margin: auto;
    width:80%;
    padding:50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#centers>div{
    display: flex;
    justify-content: space-between;
}
#centers>div>p{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}
#map{
    display: flex;
    flex-direction: column;
    width:400px;
    border:1px solid rgb(54, 54, 54);
    background-color: gray;
    border-radius: 10px;
    
}
#map>div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(38, 38, 38);
}
#map>div>div>h2,#map>div>div>p{
    color: white;
    
}
#map>div>button{
    height:50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.373);
    border: 0px;
    border-radius: 5px;
}

/* trainer led group classes */
.classes{
    margin: auto;
    width:80%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
.classes>div>p:first-child{
    line-height: 10px;
    font-size: 25px;
    font-family: sans-serif;
    color: white;
}
.classes>div>p:last-child{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
    color:white;
}

#slidescontainer1{
    width:100%;
    display: flex;
    gap:20px;
    margin-top: 50px;
}
#slidescontainer1>div{
    width:25%;
}
#slidescontainer1>div>button{
    position: relative;
    top:-50px;
}
#slidescontainer2{
    width:100%;
    display: flex;
    gap:20px;
    margin-top: 50px;
}
#slidescontainer2>div{
    border-radius: 10px;
    background-color: rgb(47, 49, 81);
    line-height: 10px;
    padding-bottom: 20px;
}
#slidescontainer2>div>img{
    width:100%;
    border-radius: 10px 10px 0px 0px;
}
.name,.level{
    color: rgb(164, 164, 164);
    font-family: sans-serif;
}
.type{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
}
.level+button{
    color:white;
    background-color: rgba(189, 189, 189, 0.104);
    padding:3px 20px;
    font-size: 20px;
    border: 0px;
    border-radius: 5px;
}
/* cultpasses */
#cultpasses{
    width:80%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
#cultpasses>div>p:first-child{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 5px;
    color: white;
}
#cultpasses>div>p:last-child{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    color: grey;
}
table{
    margin: auto;
    width:90%;
    margin-top: 50px;
}
td{
    text-align: center;
    padding:10px;
    font-family: sans-serif;
    font-weight: bold;
    color:rgb(169, 169, 169);
}
td>img{
    width:20px;
}

/* Free Trials */
#trials{
    margin: auto;
    width:80%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
#trials>p{
    font-size: 50px;
    font-family:Helvetica;
    font-weight: bolder;
    color: #FFFFFFCC;
}
#trials>div{
    display: flex;
    justify-content: space-evenly;
    gap:20px;
}
#trials>div>div>button{
    position: relative;
    top:-50px;
}
/* elite pass & Pro pass */
.passes{
    display: flex;
    justify-content: space-between;
    gap:20px;
    padding: 50px;
}
.passes>div>img{
    width:600px;
    border-radius: 20px;
}
.level1{
    color:white;
    font-family: sans-serif;

}
.level2{
    color:white;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 35px;
}
.level3{
    color:white;
    font-family: sans-serif;
    font-size: 25px;
    line-height: 5px;
}
.level4{
    list-style-image: url("https://static.cure.fit/assets/images/orangeTick.png");
    font-family: sans-serif;
    color: rgb(177, 177, 177);
    font-weight: bold;
    font-size: 15px;
    line-height: 5px;
}
.b1{
   color: white; 
   background-color: rgba(98, 98, 98, 0.463);
   border: 1px solid gray;
   padding:5px 10px;
   border-radius: 5px;
   font-weight: bold;
}
.b2{
    color: rgb(0, 0, 0); 
    background-color: rgba(255, 255, 255, 0.839);
    border: 0px;
    padding:5px 10px;
    border-radius: 5px;
    font-weight: bold;
 }
 .b2:hover{
    color: rgb(255, 0, 0); 
 }

/* LIVE pass */
#livepass>div{
    margin: auto;
    width:70%;
    margin-top: 100px;
    margin-bottom: 100px;
}

#livepass>div>video{
    width:100%;
    border-radius: 20px;
}

#livepass>div:last-child{
    width:700px;
    position: relative;
    top:-500px;
}

/* cult transform */
#culttransform{
    margin-top: -350px;
}

#culttransform>img{
    width:100%;
}

/* cult cummunity */
#cultcumminity{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    width:100%;
    background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_1600,ar_2,q_auto:eco,dpr_2,f_auto,fl_progressive/image/vm/e33780ba-8a13-4254-b2f1-2b50be6273e0.svg");
    background-color: rgb(10, 10, 30);
    background-size: 150%;
    background-position: center;
}
#cultcumminity>div{
    width:500px;
}
#cultcumminity>div:last-child>img{
    width:100%;
}
.lev{
    color:rgb(169, 169, 169);
    font-family: sans-serif;
    font-size: 30px;
}
.lev1{
    color:white;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}
.lev2{
    color:white;
    font-family: sans-serif;
    font-size: 25px;
}
.lev3{
    color:white;
    font-family: sans-serif;
    font-size: 20px;
}
.link{
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(27, 31, 255);
    font-weight: bold;
}
/* ratings */
#ratings{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding:30px;
    width:80%;
    height:300px;
    background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_1200,ar_2.66,q_auto:eco,dpr_1.3125,f_auto,fl_progressive//image/test/download-app/download-app-variant-3.png");
    background-size: 100% 100%;
}
#ratings>div{
    width:35%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
#ratings>div>img{
    width:40%;
}

/* FAQs section */
#faqs{
    width:80%;
    margin: auto;
}
#faqs>div{
    margin-bottom: 30px;
    border-bottom: 1px solid grey;
}
#faqs>div>div:first-child{
    display: flex;
    justify-content: space-between;
}
#faqs>div>div:last-child{
    display: none;
}