
img{
    width: 100%;
    margin-top: -4px;
}
@media all and (min-width : 481px) and (max-width : 768px){
    #navbar{
        padding: 30px;
    }
    img{
        width: 100%;
        margin-top: -5px;
    }
}
@media all and (min-width : 320px) and (max-width : 480px){
    #navbar{
        padding: 30px;
    }
    img{
        width: 100%;
        margin-top: -5px;
    }
}