
img{
    width: 100%;
    margin-top: -4px;
}
@media all and (min-width : 481px) and (max-width : 768px){
    img{
        width: 179%;
        margin-top: -5px;
    }
}
@media all and (min-width : 320px) and (max-width : 480px){
    img{
        width: 170%;
        margin-top: -5px;
    }
}