#navbar{
    height: 70px;
    background-color: black;
    width: 100%;
    margin-top: -10px;
    
}
#nav1{
    background-color: #393A3B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    color: white;
    gap: 60px;
    font-size: 20px;
    position: sticky;
    top: 0px;
}
#nav1>div{
    padding: 5px 20px ;
    border-radius: 7px;
    font-size: 20px;
    color: #fff;
    background-color: #1A1A1E;
}
#coursel{
    cursor: pointer;
    margin-top: -5px;
}
img{
    width: 100%;
}
#container img{
    height: auto;
    width: 100%;
}
#container {
    height: auto;
    width: 86%;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,auto);
    gap: 20px;
}
#container div{
    cursor: pointer;
}
#container img{
    border-radius: 4px;
}
#container img:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.first-tag {
    display: flex;
    justify-content: space-between;
}
.second-tag {
    display: flex;
    justify-content: space-between;
}
/* footer */
#faq{
    border: 2px solid white;
    height: auto;
    background-color: #171A26;
    color: whitesmoke;
    font-family: 'BrandonTextWeb-Regular';
}
#faq>div:first-child{
    /* border: 2px solid white; */
    margin: auto;
    margin-top: 40px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#que{
    /* border: 2px solid white; */
    margin: auto;
    margin-top: 60px;
    width: 78%;
    font-size: 22px;
    text-align: left;
    color: rgb(255 255 255 / 80%);
    font-family: Inter-Medium,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    letter-spacing: -0.3px;
    line-height: 35px;
    padding-left: 30px;
}
#que>div>div>b{
    font-size: 30px;
}
.arrow {
    border: solid rgb(255 255 255 / 80%);;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  #que>div{
    display: flex;
    justify-content: space-between;
  }
  #que>div>div:nth-child(2){
    margin-top: -25px;
  }
  .lin{
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 20px;
  }
#que>div>div{
    color: rgb(255 255 255 / 80%);;
    font-family: Inter-Medium,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 22px;
}
@media all and (min-width : 481px) and (max-width : 768px){
    body>div:nth-child(5){
        font-size: 18px;
    }
    .top-head {
        top:10px;
        font-size: 18px;
    }
    .top-des {
        top:30px;
        font-size: 10px;
        line-height: 1;
    }
    .top-img {
        font-size: 9px;
        top:65px;
    }
    .bottom-left {
        font-size: 12px;
        bottom:5px;
    }
}
@media all and (min-width : 320px) and (max-width : 480px){
    body>div:nth-child(5){
        font-size: 22px;
    }
    .top-head {
        top:10px;
        font-size: 18px;
    }
    .top-des {
        top:30px;
        font-size: 10px;
        line-height: 1;
    }
    .top-img {
        top:65px;
        font-size: 9px;
    }
    .bottom-left {
        font-size: 12px;
        bottom:5px;
    }
}

#mid {
    width: 86%;
    height: auto;
    /* border: 1px solid black; */
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
#mid>div {
    color: #6e6e6e
    font-size: 34px
}
#mid-top {
    width: 86%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
}


/* footer */
#social{
    background-color: #000;
    height: auto;
    color: #cacaca;
    display: grid;
    grid-template-columns: repeat(5, 350px 200px 100px 150px 250px);
    gap: 60px;
    padding: 80px 80px;
    font-size: 16px;
    font-family: Inter-Regular,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    line-height: 1.5;
}
#social>#d2>div, #social>#d3>div, #social>#d4>div{
    margin-bottom: 40px ;
}
#logo{
    width:60%;
    margin-bottom: 30px;
}
#d51{
    width: 80%;
    margin-left: 50px;
    
}
#d51>div:nth-child(2){
    margin-top: 40px;
    margin-bottom: 60px;
}
#d52{
    width: 100%;
    display: flex;
    gap: 20px;
    margin: auto;
}
#footer{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    color: rgb(162, 162, 162);
    background-color: rgb(17, 18, 19);
    padding: 60px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0.3;
    line-height: 1.5;
    padding-left: 2px;
}
#dot{
    color: rgb(17, 18, 19);
}

@media all and (min-width : 481px) and (max-width : 768px){
    #social{
        grid-template-columns: repeat(5, 300px 150px 50px 100px 200px);
        gap: 40px;
        width: 154%;
    }
    #footer{
        width:180%;
    }
}
@media all and (min-width : 320px) and (max-width : 480px){
    #social{
        grid-template-columns: repeat(5, 120px 30px 40px 50px 100px);
        gap: 40px;
        width: 129%;
    }
    #footer{
        width:170%;
    }
}

.line{
    width: 100%;
    height: 1px;
    background-color: grey;
    margin-top: 10px;
    margin-bottom: 20px;
  }